* {
  box-sizing: border-box;
}

body {
  background-color: turquoise;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
}

canvas {
  display: block;
  margin: auto;
  border: white dashed 3px;
}

.title-screen {
  margin-top: 70px;
  font-weight: bold;
  font-size: 60px;
}

.game {
  width: 85vw;
  max-width: 350px;
  min-width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  text-align: center;
  padding: 10px;
}

.button {
  background-color: turquoise;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 4px;
}

.button:active,
.button:hover {
  border: 2px dotted #FFFFFF;
}

.start-game {
  margin-top: 100px;
  border: 2px solid #FFFFFF;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 10px;
}

.game-string {
  font-size: 2.5em;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.result-screen {
  margin-bottom: 31px;
}

.answer {
  font-weight: bold;
}

.try-again {
  border: 2px solid #FFFFFF;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 30px;
}

.hidden {
  display: none;
}

.disabled {
  background-color: rgb(38, 126, 117);
  border: 2px solid #dadada;
  color: #b1b1b1;
  border-radius: 4px;
}

#mouse-input {
  margin-top: 30px;
  left: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

#mouse-input button {
  height: 3em;
  width: 3em;
  justify-content: center;
}
