body {
  background-color: turquoise;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

canvas {
  display: block;
  margin: auto;
  border: white dashed 3px;
}

.game {
  width: 85vw;
  max-width: 35em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}

.button {
  background-color: turquoise;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 15px 30px;
  font-size: 15px;
}

.button:active,
.button:hover {
  border: 2px dotted #FFFFFF;
}

.start-game {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-string {
  font-size: 2.5em;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.hidden  {
  display: none;
}